p {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: medium;
  text-justify: center;
  margin: 0 0 0 10px;
  color: --ion-color-primary;
}

ion-item {
  --padding-bottom: 0;
  --padding-top: 0;
  cursor: pointer;
}
